src/main/app/cloud-jeff-test.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:cloudhub="http://www.mulesoft.org/schema/mule/cloudhub" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:objectstore="http://www.mulesoft.org/schema/mule/objectstore" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/objectstore http://www.mulesoft.org/schema/mule/objectstore/current/mule-objectstore.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/cloudhub http://www.mulesoft.org/schema/mule/cloudhub/current/mule-cloudhub.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd">
    <http:request-config name="HTTP_Request_Configuration" host="${onprem.host}" port="${onprem.port}" doc:name="HTTP Request Configuration" />
    <cloudhub:config name="Cloudhub__Basic_Auth_Authentication" username="jeffreyalanrogers" password="Blizzard16" doc:name="Cloudhub: Basic Auth Authentication" />

    <http:listener-config name="cloud-jeff-test-httpListenerConfig" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <apikit:config xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" name="cloud-jeff-test-config" raml="cloud-jeff-test.raml" consoleEnabled="false" doc:name="Router"/>
    <flow name="cloud-jeff-test-main">
        <http:listener config-ref="cloud-jeff-test-httpListenerConfig" path="/*" doc:name="HTTP"/>
        <apikit:router xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" config-ref="cloud-jeff-test-config" doc:name="APIkit Router"/>
        <exception-strategy ref="cloud-jeff-test-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="cloud-jeff-test-console">
        <http:listener config-ref="cloud-jeff-test-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" config-ref="cloud-jeff-test-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="get:/error:cloud-jeff-test-config">
    <http:request config-ref="HTTP_Request_Configuration" path="/doesntexist" method="GET" doc:name="HTTP" />
        <object-to-string-transformer doc:name="Object to String" />
        <set-payload value="Payload from on prem server is #[payload]" doc:name="Set Payload" />
        <rollback-exception-strategy doc:name="Rollback Exception Strategy">
            <logger level="INFO" doc:name="Logger" />
            <cloudhub:create-notification config-ref="Cloudhub__Basic_Auth_Authentication" domain="#[app.name]" message="Error occurred in #[app.name] with error message #[payload]" priority="ERROR" doc:name="Cloudhub" />
        </rollback-exception-strategy>
    </flow>
    <flow name="get:/hello:cloud-jeff-test-config">
        <set-payload value="This test is from the updated cloud" doc:name="Set Payload"/>
        <logger message="Got the message" level="INFO" doc:name="Logger"/>

    </flow>
    <flow name="get:/onprem:cloud-jeff-test-config">
            <http:request config-ref="HTTP_Request_Configuration" path="/hello" method="GET" doc:name="HTTP" />
        <object-to-string-transformer doc:name="Object to String" />
        <set-payload value="The on-prem server returned the payload #[payload]" doc:name="Set Payload" />
    </flow>
    <apikit:mapping-exception-strategy xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" name="cloud-jeff-test-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
