target/classes/cloud-jeff-test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:cloudhub="http://www.mulesoft.org/schema/mule/cloudhub" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:objectstore="http://www.mulesoft.org/schema/mule/objectstore" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/objectstore http://www.mulesoft.org/schema/mule/objectstore/current/mule-objectstore.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/cloudhub http://www.mulesoft.org/schema/mule/cloudhub/current/mule-cloudhub.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="HTTP_Request_Configuration" host="${onprem.host}" port="${onprem.port}" doc:name="HTTP Request Configuration"/>
    <cloudhub:config name="Cloudhub__Basic_Auth_Authentication" username="jeffreyalanrogers" password="Blizzard16" doc:name="Cloudhub: Basic Auth Authentication"/>
    <flow name="jb-jeff-testFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/hello" doc:name="HTTP"/>
        <set-payload value="This test is from the updated cloud" doc:name="Set Payload"/>
    </flow>
    <flow name="jb-jeff-testFlow1">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/onprem" doc:name="HTTP"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/hello" method="GET" doc:name="HTTP"/>
        <object-to-string-transformer doc:name="Object to String"/>
        <set-payload value="The on-prem server returned the payload #[payload]" doc:name="Set Payload"/>
    </flow>
    <flow name="cloud-jeff-error-flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/error" doc:name="HTTP"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/doesntexist" method="GET" doc:name="HTTP"/>
        <object-to-string-transformer doc:name="Object to String"/>
        <set-payload value="Payload from on prem server is #[payload]" doc:name="Set Payload"/>
        <rollback-exception-strategy doc:name="Rollback Exception Strategy">
            <logger level="INFO" doc:name="Logger"/>
            <cloudhub:create-notification config-ref="Cloudhub__Basic_Auth_Authentication" domain="#[app.name]" message="Error occurred in #[app.name] with error message #[payload]" priority="ERROR" doc:name="Cloudhub"/>
        </rollback-exception-strategy>
    </flow>
</mule>
